[Interface]
Address = 10.x.x.x/32
PrivateKey = PLACEHOLDER
DNS = 1.1.1.1
Jc = 0
Jmin = 0
Jmax = 0
S1 = 0
S2 = 0
H1 = 0
H2 = 0
H3 = 0
H4 = 0
I1 = 0

# remove empty I lines

[Peer]
PublicKey = PLACEHOLDER
PresharedKey = PLACEHOLDER
Endpoint = 0.0.0.0:0
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
